<div class="book-list">
  {{#each model as |book|}}
    {{#link-to 'book' book.id class="book"}}
      {{book.title}}
    {{/link-to}}
  {{/each}}
</div>

<div class="actions">
  {{#link-to 'create-book' tagName="button"}}
    Add Book
  {{/link-to}}
</div>
