/* -- Variables ------------------------------ */

:root {
  --color-white:  #fff;
  --color-black:  #000;
  --color-grey:   #d2d2d2;
  --color-purple: #6e6a85;
  --color-red:    #ff0000;

  --font-size-st: 16px;
  --font-size-lg: 24px;

  --box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42),
                0 3px 20px 0px rgba(0, 0, 0, 0.12),
                0 8px 10px -5px rgba(0, 0, 0, 0.2);
}


/* -- Utilities ------------------------------ */

.u-justify-space-between {
  justify-content: space-between !important;
}

.u-text-danger {
  color: var(--color-red) !important;
}


/* -- General -------------------------------- */

body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.container {
  display: grid;
  grid-template-rows: 40px calc(100vh - 80px) 40px;
  height: 100vh;
}


/* -- Navigation ----------------------------- */

.nav {
  display: flex;
  padding: 0 10px;
  background-color: var(--color-purple);
  box-shadow: var(--box-shadow);
  z-index: 10;
}

.nav-item {
  padding: 10px;
  font-size: var(--font-size-st);
  color: var(--color-white);
  text-decoration: none;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


/* -- Headings ------------------------------- */

.header {
  padding: 10px 0;
  font-size: var(--font-size-lg);
}


/* -- Books ---------------------------------- */

.book-list {
  padding: 10px;
  overflow-y: scroll;
}

.book {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  font-size: var(--font-size-st);
  color: var(--color-black);
  text-decoration: none;
  cursor: pointer;
}

.book:hover {
  background: var(--color-grey);
}


/* -- Buttons -------------------------------- */

button {
  cursor: pointer;
}


/* -- Book ----------------------------------- */

.book.book--detail {
  flex-direction: column;
  justify-content: flex-start;
  max-width: 500px;
  background: var(--color-white);
  cursor: default;
}

.book-title {
  font-size: var(--font-size-lg);
}

.book-title,
.book-author,
.book-description {
  padding: 10px;
}


/* -- Add Book ------------------------------- */

.form {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background: var(--color-white);
}

input[type='text'],
textarea {
  margin: 10px 0;
  padding: 10px;
  max-width: 500px;
  font-size: var(--font-size-st);
  border: none;
  border-bottom: 1px solid var(--color-grey);
  outline: 0;
}


/* -- Actions -------------------------------- */

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px 20px;
  background-color: var(--color-white);;
  box-shadow: var(--box-shadow)
}
